# Preparing the data

Before using the data it has to be complete and inconsistencies need to be indentified. A good way to approach this initially is to anwer the following questions:

1. Are their duplicate records?
2. Is their an index for the records? or How do we tell one sample from another?
3. Are place names spelled correctly/consistently?
4. Are their categories? Is each value assigned a category? Is the spelling consistent for the categories?
5. Are the data types appropriate to the data?
6. Is their temporal data? Is it formatted correctly?
7. Is their GPS data? Is it formatted consistently? Is the resolution specified? Given the data what is the minimum resolution that can be achieved?

## Prepare the data for analysis:

Once the previous questions are answered you can move on to the analysis:

1. What is the research question?
2. Does the data need to be aggregated in a specific way?
3. Are the units of measure known?
4. What are the methods that you will use to describe the sample? Are these consistent with your field?

In [1]:
import json
import datetime as dt
from datetime import date, datetime, time
from babel.dates import format_date, format_datetime, format_time, get_month_names
import locale
# import slugify

# math packages:
import pandas as pd
import numpy as np
from math import pi

# charting:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib import ticker
from matplotlib.ticker import MultipleLocator
import seaborn as sns

# images and display
from IPython.display import Markdown as md
from IPython import display

In [7]:
macro_csv = pd.read_csv("data/macro_csv.csv")
macro_csv.fillna(0, inplace=True)

In [8]:
macro_csv.head()

,location,area,time,position,substrate,date,season,description,code,quantity,weight,Unnamed: 11
0,Amphion,98,50,1,4.0,01.02.2022,1,Anneau plastique bouteille,G24,2,0.00020,0
1,Amphion,98,50,1,4.0,01.02.2022,1,Baguette en bois,G165,3,0.00600,0
2,Amphion,98,50,1,4.0,01.02.2022,1,Bâtonnet de sucette en plastique,G31,2,0.00036,0
3,Amphion,98,50,1,4.0,01.02.2022,1,Cartouche/munition/balle/douille de chasse en ...,G70,1,0.00310,0
4,Amphion,98,50,1,4.0,01.02.2022,1,Corde entre 30cm et 1 mètre,G49,1,0.30000,0

In [9]:
# this is a remnant from exporting the csv from excel
macro_csv.drop("Unnamed: 11", axis=1, inplace=True)
macro_csv.head()

,location,area,time,position,substrate,date,season,description,code,quantity,weight
0,Amphion,98,50,1,4.0,01.02.2022,1,Anneau plastique bouteille,G24,2,0.00020
1,Amphion,98,50,1,4.0,01.02.2022,1,Baguette en bois,G165,3,0.00600
2,Amphion,98,50,1,4.0,01.02.2022,1,Bâtonnet de sucette en plastique,G31,2,0.00036
3,Amphion,98,50,1,4.0,01.02.2022,1,Cartouche/munition/balle/douille de chasse en ...,G70,1,0.00310
4,Amphion,98,50,1,4.0,01.02.2022,1,Corde entre 30cm et 1 mètre,G49,1,0.30000

In [10]:
macro_csv["location_date"] = list(zip(macro_csv.location, macro_csv.date))

In [13]:
macro_csv.groupby(["season"]).quantity.sum()

season
1    8963
2    7209
3    7246
4    6186
Name: quantity, dtype: int64

In [16]:
macro_csv["date"].unique()

array(['01.02.2022', '09.02.2022', '06.02.2022', '22.01.2022',
       '16.01.2022', '26.01.2022', '13.02.2022', '29.01.2022',
       '24.01.2022', '03.02.2022', '15.01.2022', '12.02.2022',
       '07.02.2022', '04.02.2022', '03.05.2022', '04.05.2022',
       '14.05.2022', '23.04.2022', '30.04.2022', '29.04.2022',
       '18.05.2022', '02.05.2022', '07.05.2022', '11.05.2022',
       '16.04.2022', '01.05.2022', '13.05.2022', '19.07.2022',
       '20.07.2022', '10.09.2022', '02.09.2022', '30.07.2022',
       '06.09.2022', '10.12.2022', '07.08.2022', '18.07.2022',
       '02.07.2022', '14.09.2022', '13.08.2022', '06.08.2022',
       '21.08.2022', '10.08.2022', '12.07.2022', '18.10.2022',
       '23.11.2022', '05.11.2022', '15.10.2022', '17.10.2022',
       '08.11.2022', '06.11.2022', '22.10.2022', '12.11.2022',
       '03.09.2022', '8/13/2022', '10/15/2022', '11/6/2022'], dtype=object)

In [22]:
# these dates were stored in a different format than all the others
bad_dates = ['8/13/2022', '10/15/2022', '11/6/2022']
macro_csv_bad_date = macro_csv[macro_csv["date"].isin(bad_dates)].copy()
macro_csv_bad_date

,location,area,time,position,substrate,date,season,description,code,quantity,weight,location_date
2101,Préverenges,961,490,2,0.0,8/13/2022,3,Aluminium de moins de 50 cm,G177,8,1.08000,"(Préverenges, 8/13/2022)"
2102,Préverenges,961,490,2,0.0,8/13/2022,3,Baguette en bois,G165,1,0.00200,"(Préverenges, 8/13/2022)"
2103,Préverenges,961,490,2,0.0,8/13/2022,3,Ballon de baudruche,G125,2,0.00160,"(Préverenges, 8/13/2022)"
2104,Préverenges,961,490,2,0.0,8/13/2022,3,Bande élastique,G131,1,0.00028,"(Préverenges, 8/13/2022)"
2105,Préverenges,961,490,2,0.0,8/13/2022,3,Bâtonnet de glace en bois,G165,7,0.01400,"(Préverenges, 8/13/2022)"
...,...,...,...,...,...,...,...,...,...,...,...,...
2558,Savonnière,325,160,2,2.0,11/6/2022,4,"Morceau de plastique de moins de 2,5cm","G78, G79",23,0.00690,"(Savonnière, 11/6/2022)"
2559,Savonnière,325,160,2,2.0,11/6/2022,4,"Morceau de plastique entre 2,5 et 50cm",G79,6,0.01800,"(Savonnière, 11/6/2022)"
2560,Savonnière,325,160,2,2.0,11/6/2022,4,Morceau de textile entre 5 et 30cm,G145,1,0.10800,"(Savonnière, 11/6/2022)"
2561,Savonnière,325,160,2,2.0,11/6/2022,4,Morceau de verre/bouteille de moins de 5cm,G200,101,0.40400,"(Savonnière, 11/6/2022)"
2562,Savonnière,325,160,2,2.0,11/6/2022,4,Paille pour boisson,G35,1,0.00100,"(Savonnière, 11/6/2022)"

In [23]:
macro_csv = macro_csv[~ macro_csv["date"].isin(bad_dates)].copy()

In [24]:

replace_with_key = {
    '8/13/2022': '08.13.2022',
    '10/15/2022': '10.15.2022',
    '11/6/2022': '11.06.2022'
}
# replace with a key
macro_csv_bad_date["date"] = macro_csv_bad_date["date"].apply(lambda x: replace_with_key[x])

# put that back together
plastock_data = pd.concat([macro_csv, macro_csv_bad_date])

In [25]:
replace_with_key['8/13/2022']

'08.13.2022'

In [27]:
plastock_data["code"].unique()

array(['G24', 'G165', 'G31', 'G70', 'G49', 'G95', 'G23', 'G30', 'G922',
       'G113', 'G114', 'G932', 'G156', 'G78, G79', 'G79', 'G35', 'G124',
       'G82', 'G53', 'G112', 'G177', 'G27', 'G198', 'G200', 'G117',
       'G126', 'G125', 'G26', 'G175', 'G178', 'G131', 'G32', 'G158',
       'G901', 'G134', 'G106', 'G211', 'G128', 'G89', 'G210', 'G81',
       'G50', 'G21', 'G183', 'G54', 'G145', 'G74', 'G182', 'G216', 'G28',
       'G191', 'G103', 'G99', 'G66', 'G12', 'G67', 'G167', 'G79, G78',
       'G170', 'G132', 'G7', 'G33', 'G97', 'G159', 'G135', 'G2', 'G34',
       'G10', 'G197', 'G100', 'G138', 'G25', 'G61', 'G202', 'G157', 'G90',
       'G148', 'G101', 'G29', 'G137', 'G73', 'G4', 'G937', 'G144', 'G194',
       'G171', 'G51', 'G199', 'G174', 'G136', 'G41', 'G139', 'G155',
       'G129', 'G181', 'G39'], dtype=object)

In [29]:
# these codes are stored as string tupled with no other correspondance.
# if taken by definition it is an aggregation of 78 and 79 which corresponds
# to Gfrags in IQAASL
macro_csv_bad_code = macro_csv[macro_csv.code.isin(['G78, G79', 'G79, G78'])].copy()
macro_csv = macro_csv[~ macro_csv.code.isin(['G78, G79', 'G79, G78'])].copy()
macro_csv_bad_code["code"] = "G79"

In [30]:
# put that back together
plastock_data = pd.concat([macro_csv, macro_csv_bad_code])

In [31]:
plastock_data["date"]

0       01.02.2022
1       01.02.2022
2       01.02.2022
3       01.02.2022
4       01.02.2022
           ...
2610    18.10.2022
2611    18.10.2022
2612    18.10.2022
2613    18.10.2022
2614    18.10.2022
Name: date, Length: 2409, dtype: object

In [32]:
# convert to datetime
plastock_data["date"] = pd.to_datetime(plastock_data["date"], format="%d.%m.%Y")
plastock_data["date"]

0      2022-02-01
1      2022-02-01
2      2022-02-01
3      2022-02-01
4      2022-02-01
          ...
2610   2022-10-18
2611   2022-10-18
2612   2022-10-18
2613   2022-10-18
2614   2022-10-18
Name: date, Length: 2409, dtype: datetime64[ns]

In [33]:
plastock_data["month"] = plastock_data["date"].dt.month

In [35]:
replace_season = {
    1: "hiver",
    2: "printemps",
    3: "été",
    4: "automne"
}

plastock_data["season_spelled"] = plastock_data["season"].apply(lambda x: replace_season[x])

In [37]:
plastock_data.groupby("season_spelled").quantity.sum()

season_spelled
automne      4549
hiver        6942
printemps    5996
été          5353
Name: quantity, dtype: int64

In [38]:
plastock_data[plastock_data.duplicated()]

Empty DataFrame
Columns: [location, area, time, position, substrate, date, season, description, code, quantity, weight, location_date, month, season_spelled]
Index: []