In [1]:
import numpy as np
import pandas as pd
import datetime as dt

from plastockmethods import name_the_zones, name_the_particles, frequentation_name, situation_name
from plastockmethods import particle_groups, name_the_substrate, name_the_distance, table_css_styles



def add_labels_display(data, column_name, labels):
    # Changes column values from integer to labels and sets df.index to column_name
    data[column_name] = data[column_name].apply(lambda x: labels[x])
    data.set_index(column_name, drop=True, inplace=True)
    data.index.name = None
        
    return data.style.format(precision=2).set_table_styles(table_css_styles)

# Variables aléatoires

In [2]:
c = pd.read_csv("data/end_pipe/micro_results.csv")
# column groups by material type
fibres = ['fbr', 'fbb', 'fbj', 'fbt', 'fbn', 'fba']
fdure = ['frr', 'frb', 'frj', 'frt', 'frn', 'fra']
souple = ['fsr', 'fsb', 'fsj', 'fst', 'fsn', 'fsa']
fragments = [*fdure, *souple]


# the sum of all particles for one sample
c["added"] = c[[*fragments, *fibres]].sum(axis=1)
# the sum of the different groups
c["fibres"] = c[fibres].sum(axis=1)
c["fdure"] = c[fdure].sum(axis=1)
c["souple"] = c[souple].sum(axis=1)
c["fragments"] = c[fragments].sum(axis=1)
c.rename(columns={"Echantillon":"echantillon"}, inplace=True)

# melt the data to long form
cAdded = c[['Plage', 'echantillon', 'orientation', 'position', 'substrat','frequentation', 'situation', 'distance', "fibres", "fdure", "souple", "fragments"]].copy()
cAdded[["frequentation", "situation", "distance"]] = cAdded[["frequentation", "situation", "distance"]].astype("int")

# work columns
id_vars = ['Plage', 'echantillon', 'orientation', 'position', 'substrat', 'frequentation', 'situation', 'distance']
value_vars = ["fibres", "fdure", "souple"]

# make workdata to long form
work_data = pd.melt(cAdded, id_vars=id_vars, value_vars=value_vars)
work_data.rename(columns={"variable":"objet", "value":"particules"}, inplace=True)
work_data["particules"] = work_data["particules"].astype("int")

# les plages
locations = c.Plage.unique()
nlocations = len(locations)
samples = c.echantillon.unique()
nsamples = len(samples)
tquantity = work_data.particules.sum()

def add_weight_of_samples(data, samps: int=nsamples, tquantity: int=tquantity):
    # calculates the weight of the samples and the counts for a set of data    
    data["% particule"] = data.particules/tquantity
    data["% echantillon"] = data.echantillon/nsamples
    
    return data

## Données mises en forme

In [3]:
work_data.head().style.set_table_styles(table_css_styles)

In [4]:
agg_ = {"particules":"sum", "echantillon":"nunique"}

position_total = work_data.groupby("position", as_index=False).agg(agg_)
substrat_total = work_data.groupby("substrat", as_index=False).agg(agg_)
frequentation_total = work_data.groupby("frequentation", as_index=False).agg(agg_)
situation_total = work_data.groupby("situation", as_index=False).agg(agg_)
orient_total = work_data.groupby("orientation", as_index=False).agg(agg_)
particle_type_total = work_data.groupby("objet", as_index=False).agg(agg_)
distance_total =  work_data.groupby("distance", as_index=False).agg(agg_)

## Variables indépendantes

```{figure} resources/maps/intro_map.jpeg
---
name: basicmap-fig
---
Les sites d'échantillonnage de 2022
```

### Lieu d'echantillonage

In [5]:
beaches = pd.read_csv("data/end_pipe/asl_beaches.csv")
beaches.set_index("Plage", inplace=True, drop=True)
beaches.index.name = None
beaches.style.format(precision=2).set_table_styles(table_css_styles)

### Position

In [6]:
pos_total = add_weight_of_samples(position_total)
pos_total = add_labels_display(pos_total, "position", name_the_zones)
pos_total

### Substrat

In [7]:
sub_total = add_weight_of_samples(substrat_total)

add_labels_display(sub_total, "substrat", name_the_substrate)

### Fréquentation

In [8]:
freq_total = add_weight_of_samples(frequentation_total)
add_labels_display(freq_total, "frequentation", frequentation_name)

### Situation

In [9]:
sit_total =  add_weight_of_samples(situation_total)
add_labels_display(sit_total, "situation", situation_name)

### Distance parking

In [10]:
dis_total = add_weight_of_samples(distance_total)
add_labels_display(dis_total, "distance", name_the_distance)

### Orientation de la plage

In [11]:
ori_total =  add_weight_of_samples(orient_total)
ori_total.set_index("orientation", drop=True, inplace=True)
ori_total.index.name = None
ori_total.style.format(precision=2).set_table_styles(table_css_styles)

## Variables dépendantes

### Fragments plastiques par forme

In [12]:
par_total =  add_weight_of_samples(particle_type_total)
add_labels_display(par_total, "objet", particle_groups)

### Fragments plastiques par forme et couleur

In [14]:
p_t_c = c[name_the_particles.keys()].sum(axis=0)
p_t_cdf = pd.DataFrame({"couleur et type":p_t_c.index, "compte":p_t_c.values})
p_t_cdf["% particule"] = p_t_cdf.compte/tquantity
p_t_cdf["couleur et type"] = p_t_cdf["couleur et type"].apply(lambda x: name_the_particles[x])
p_t_cdf.set_index("couleur et type", drop=True, inplace=True)
p_t_cdf.index.name = None
p_t_cdf["compte"] = p_t_cdf.compte.astype("int")
p_t_cdf.rename(columns={"compte":"particules"}, inplace=True)
p_t_cdf.style.format(precision=2).set_table_styles(table_css_styles)